################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Team Racing/UserSettings
/Team Racing/Logs
/Team Racing/Library
/Team Racing/Builds
/Team Racing/.vs
/venv39/
/Temp/
/runScriptsShortcuts.md